<div class="lg:container lg:mx-auto p-10">
    <div class="bg-[--secondary-color] text-center py-4 px-10">
        <h2 class="text-[--primary-color] text-2xl">{{formStatus}} Categories</h2>
        <p>You can add category from here </p>

        <form class="flex space-x-4 mt-5" #categoryForm = 'ngForm' (ngSubmit)="onSubmit(categoryForm)">
            <input type="text" [(ngModel)]="nameCategoryCurrent" name="name" placeholder="Add New Categories" class="shadow-md w-full p-3 form-control">
            <button type="submit" class="text-white p-3 bg-[--primary-color] whitespace-nowrap"> {{formStatus}} Category</button>
        </form>

    </div>
    
    <div class="sm:container sm:mx-auto px-[200px] py-5">
        <div class="shadow-md">
            <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
                <ng-container *ngSwitchCase="DataState.LOADED_STATE">
                    <table class="table-auto w-full">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let category of appState.appData?.data?.objects; let i = index;">
                            <tr>
                              <td>{{ category.idCategory }}</td>
                              <td>{{ category.name }}</td>
                              <td class="flex justify-center space-x-5"> 
                                <button class="p-2 bg-yellow-300 text-white" (click)="onUpdate(category.idCategory, category.name)">Edit</button>
                                <button class="p-2 bg-red-500 text-white" (click)="deleteCategory(category.idCategory)">Delete</button>
                              </td>
                            </tr>
                          </tbody>
                    </table>
                </ng-container>
            </ng-container>
            
                
            
        </div>
    </div>

</div>