<div class="lg:container lg:mx-auto">
    <div class="grid grid-cols-2 gap-5 p-10">
        <div class="shadow-md cursor-pointer" routerLink="/categories">
            <div class="p-7 bg-[--secondary-color] text-center">
                <i class="fa-solid fa-clipboard text-3xl"></i>
                <h2 class="text-2xl text-[--primary-color]">Category</h2>
                <p>Manage Your Category Details Here</p>
            </div>
        </div>

        <div class="shadow-md cursor-pointer" routerLink="/post">
            <div class="p-7 bg-[--secondary-color] text-center">
                <i class="fa-solid fa-file text-3xl"></i>
                <h2 class="text-2xl text-[--primary-color]">Posts</h2>
                <p>Manage Your Post Details Here</p>
            </div>
        </div>

        <div class="shadow-md cursor-pointer">
            <div class="p-7 bg-[--secondary-color] text-center">
                <i class="fa-solid fa-clipboard text-3xl"></i>
                <h2 class="text-2xl text-[--primary-color]">Category</h2>
                <p>Manage Tour Category Details Here</p>
            </div>
        </div>

        <div class="shadow-md cursor-pointer">
            <div class="p-7 bg-[--secondary-color] text-center">
                <i class="fa-solid fa-clipboard text-3xl"></i>
                <h2 class="text-2xl text-[--primary-color]">Category</h2>
                <p>Manage Tour Category Details Here</p>
            </div>
        </div>

    </div>
</div>