<footer class="lg:container lg:mx-auto h-[130px] p-[15px] bg-[--navbar-footer-color]">
    <div class="flex flex-col justify-center h-full space-y-3">
        <div class="flex justify-center">
            <a href="" class="px-5 py-[5px] rounded-[20px] bg-[--secondary-color] text-[--primary-color] hover:underline">ANG-BLOG</a>
        </div>
        <div class="flex justify-center">
            <ul class="flex justify-center space-x-5">
                <li><a href="" class="text-[--primary-color] hover:underline decoration-[--primary-color]">Home</a></li>
                <li><a href="" class="text-[--primary-color] hover:underline decoration-[--primary-color]">Terms & Conditions</a></li>
                <li><a href="" class="text-[--primary-color] hover:underline decoration-[--primary-color]">About</a></li>
                <li><a href="" class="text-[--primary-color] hover:underline decoration-[--primary-color]">Contact</a></li>
            </ul>
        </div>
        <div class="flex justify-center">
            <span>Copyright 2020 Angular Blogsite</span>
        </div>
    </div>
</footer>